<!DOCTYPE html>
<html lang="en">
<head>
  <title>Number plate detection</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-3">
  <h2>Upload your number plate image</h2>
  <p>We can use camera sensor to get number plate image.</p>
  {% if success_detected and filename %}
    <p style="font-weight: bold; color: green">Number plate is detected !!</p>
    <p style="font-weight: bold; color: green">Accuracy : {{ accuracy }} %</p>
    <img src="{{ url_for('static', filename=filename) }}" alt="" height="500" width="500">
  {% endif %}
  {% if not success_detected %}
    <p style="font-weight: bold; color: darkred">Number plate is not detected</p>
  {% endif %}
  <form action="/upload" method="POST" enctype="multipart/form-data">
    <div class="custom-file mb-3">
      <input type="file" name="photo">
    </div>

    <div class="mt-3">
      <button type="submit" class="btn btn-primary">Upload</button>
    </div>
  </form>
</div>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
